.android
.bash_history
.bash_logout
.bash_profile
.cache
.calc_history
.config
.electron-gyp
.gitconfig
.gnupg
.lesshst
.links
.local
.mozilla
.pki
.python_history
.rnd
.sc_history
.ssh
.v8flags.8.3.110.9-node.23.6c5b7de29192b42ed9cc6c7f635c92e0.json
.viminfo
.Xauthority
Desktop
Downloads
Pictures
src
bin
