src
Downloads
Pictures
.cache
.mozilla
.ssh
.android
.local
.electron-gyp
.elinks
.gnupg
.links
.Xauthority
.bash_history
.bash_logout
.bash_profile
.calc_history
.config
.gitconfig
.lesshst
.pki
.python_history
.rnd
.sc_history
.v8flags.8.3.110.9-node.23.6c5b7de29192b42ed9cc6c7f635c92e0.json
.vim
.viminfo
cut
